{
  "swagger": "2.0",
  "info": {
    "title": "API's",
    "description": "College Virtual Assistent API's",
    "version": "1.0"
  },
  "produces": ["application/json"],  
  "host": "college-assitent.mybluemix.net",
  "basePath": "/",
  "paths": {
 
	 "/api/v1/college/add": {
		  "post": {
			"x-swagger-router-controller": "college",
			"operationId": "add",
			"tags": ["Colleges"],
			"description": "Add a new college to database",   
			"consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
			"parameters": [
			  {
				"name": "access_token",
				"in": "header",
				"description": "Access token",
				"required": true,
				"type": "string"
			  },  
			  {
				"name": "body",
                "in": "body",               
                "description": "addition of new college needs the info of college",
                "required": true,
                "schema": {
                            "$ref": "#/definitions/College"
                }
              }
			],		
			"responses": {
			  "default": {
				"description": "Invalid request.",
				"schema": {
				  "$ref": "#/definitions/Error"
				}
			  },
			  "200": {
				"description": "Successful request.",
				"schema": {
				    "$ref": "#/definitions/Success"
				}
			  }
			}
		  }
	  },
	  	  "/api/v1/college/all": {
      "get": {
        "x-swagger-router-controller": "college",
        "operationId": "getAll",
        "tags": ["Colleges"],
        "description": "Returns all colleges",   
		"parameters": [
          {
            "name": "access_token",
            "in": "header",
            "description": "Access token",
            "required": true,
            "type": "string"
          }
        ],		
        "responses": {
          "default": {
            "description": "Invalid request.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "200": {
            "description": "Successful request.",
            "schema": {
              
              "$ref": "#/definitions/Colleges"
            }
          }
        }
      }
    }
  },
  
  "definitions": {
	"Colleges": {
      "properties": {        
        "data": {
          "type": "array",
          "items": {            
            "$ref": "#/definitions/College" 
          }        
        }
      }
    },		
	"College": {
            "type": "object",
            "properties": {
                
                "name": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "state": {
                    "type": "string"
                }
            }
        },
	"Error": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": ["message"]
    },
	"Success": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "required": ["message"]
    }
  }
}